.vs/
./Asd123/.vs/
*.targets
*.props
*.pdb
*.cache
*.dll
*.txt
*.CopyComplete
/Asd123/Asd13.Repository.EF/obj/*
/Asd123/Asd13.Repository.EF/bin/*
/Asd123/Asd13.ApplicationService/obj/*
/Asd123/Asd123.Domain/obj/*
/Asd123/Asd13.ApplicationService/obj/*
/Asd123/Asd123.Domain/bin/*
