.inline {
    display: inline-block;
    vertical-align: middle;
}

.title {
    font-family: 'Showcard Gothic';
    font-size: 40px;
}

.center {
    text-align: center;
}

.rightalign {
    position: absolute;
    right: 10px;
    top: 5px;
}

.image-container {
    height: 240px;
    width: 360px;
    text-align: center;
}

.image {
    height: 240px;
    max-width: 360px;
    display: inline-block;
    margin: 0 auto;
    cursor: pointer;
}


​.footer {
    position: fixed;
    bottom: 0;
    width: 60%;
    text-align: center;
    z-index: 9999;
}

.userinfo {
    position: absolute;
    top: 20px;
    right: 150px;
    font-weight: bold;
}

.header {
    text-align: center;
    position: fixed;
    top: 0;
    height: 60px;
    width: 100%;
    z-index: 9999;
    float: left;
    display: block;
    background-color: whitesmoke;
}

.logo {
    height: 60px;
    width: 60px;
}

.down {
    padding-top: 90px;
}

.logout {
    position: absolute;
    right: 100px;
    top: 13px;
}

.profilepic {
    transition: opacity .005s ease-in-out;
    -moz-transition: opacity .005s ease-in-out;
    -webkit-transition: opacity .005s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
}

    .profilepic:hover {
        opacity: 0.7;
        transition: opacity .005s ease-in-out;
        -moz-transition: opacity .005s ease-in-out;
        -webkit-transition: opacity .005s ease-in-out;
    }



.footer-new {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
}