<div class="header">
    <div class="input-group inline logotitle">
        <img class="logo inline" src="../../../../Images/logo.png">
        <div class="title inline">ASD123 Photos</div>
    </div>

    <div class="input-group inline col-lg-4 col-sm-3" style="margin-right:30px">
        <input type="text" class="form-control" placeholder="Search" name="srch-term" id="srch-term">
        <div class="input-group-btn" style="display:block">
            <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
    </div>
    <label class="btn btn-default" style="margin-left:40px;">
        Upload images<input type="file" hidden style="display:none" (change)="fileEvent($event)">
        <i class="fa fa-upload" style="padding-left:10px;"></i>
    </label>
    <img (click)="profileClick()" class="inline profilepic" src="{{profilepic_src}}" />
</div>

<div class="container">

    <!--<div class="down">
        <form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
            <div class="col-md-12">
                <p>Upload images:</p>
                <div class="col-lg-6 col-sm-6 col-12">
                    <div class="input-group">
                        <label class="input-group-btn">
                            <span class="btn btn-primary">
                                Browse&hellip; <input type="file" (change)="fileEvent($event)" accept="image/*" style="display: none;" multiple>
                            </span>
                        </label>
                        <input id="fileBrowser" type="text" class="form-control" readonly>
                    </div>
                    <button (click)="uploadClick()" type="button" class="btn btn-default">Upload</button>
                </div>
            </div>
        </form>
    </div>-->

    <div class="center" style="padding-top:120px;">
        <div *ngFor="let image of arr | async" class="col-md-4" style="padding-bottom:4px;">
            <div class="image-container">
                <img class="image center" src="{{image.imageUri}}" />
            </div>
        </div>
    </div>
</div>

<div class="footer-message">
    <uimessage></uimessage>
</div>

<div class="profile-sideb" *ngIf="isProfileVisible">
    <profile></profile>
</div>