<h1>Hello, <span *ngIf="name; else elseBlock"> {{ name }}! </span></h1>
<ng-template #elseBlock>Guest!</ng-template>

<form method="post" enctype="multipart/form-data" asp-controller="UploadFiles" asp-action="Index">
    <div class="form-group">
        <div class="col-md-10">
            <p>Upload images:</p>
            <div class="col-lg-6 col-sm-6 col-12">
                <div class="input-group" style="float:left">
                    <label class="input-group-btn">
                        <span class="btn btn-primary">
                            Browse&hellip; <input type="file" (change)="fileEvent($event)" accept="image/*" style="display: none;" multiple>
                        </span>
                    </label>
                    <input id="fileBrowser" type="text" class="form-control" readonly>
                </div>
                <button (click)="uploadClick()" type="button" class="btn btn-default">Upload</button>
                <button (click)="getClick()" type="button" class="btn btn-default">Get</button>
            </div>
        </div>
    </div>
</form>

<div class="image-container">
    <div *ngFor="let image of arr | async">
        <img src="{{image.imageUri}}"/>
    </div>
    
</div>

