<div class="user_container">
    <img class="profilepic" src="{{profilepic_src}}" style="border-radius:3px" />
    <div class="infotexts">
        <div class="userdata">Name: {{user.name}}</div>
        <div class="userdata">Email: {{user.email}}</div>
        <div class="userdata">Gender: {{user.gender}}</div>
        <div class="userdata">Date of Birth: {{user.dateOfBirth}}</div>
    </div>
    <a href="/api/account/logout" class="inline btn btn-default logout">Logout<i class="fa fa-sign-out" style="padding-left:10px;"></i></a>
</div>
