.userdata {
    color: #454545;
    font-size: 18px;
    font-weight: bold;
    float: left;
    clear: left;
}

.user_container {
    padding: 10px;
}

.logout {
    float: right;
    margin-bottom: 10px;
    margin-top: 30px;
}

.infotexts {
    padding-top: 20px;
    padding-bottom: 20px;
    display: block;
}
